In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
# Read in CSV File
document_check = 'document_check_sample.csv'
facial_report = 'facial_report_sample.csv'

document_df = pd.read_csv(document_check)
facial_df = pd.read_csv(facial_report)

## Understand the attributes of data frames: 
- What are the attributes 
- What are their unique values

In [47]:
# Understand the attributes
document_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11760 entries, 0 to 11759
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          5880 non-null   float64
 1   user_id                             5880 non-null   object
 2   result                              5880 non-null   object
 3   visual_authenticity_result          4991 non-null   object
 4   image_integrity_result              5880 non-null   object
 5   face_detection_result               4990 non-null   object
 6   image_quality_result                5880 non-null   object
 7   created_at                          5880 non-null   object
 8   supported_document_result           5869 non-null   object
 9   conclusive_document_quality_result  3140 non-null   object
 10  colour_picture_result               3140 non-null   object
 11  data_validation_result              4739 non-null   object
 12  data_consistency_result             3025 non-null   object
 13  data_comparison_result              85 non-null     object
 14  attempt_id                          5880 non-null   object
 15  police_record_result                4791 non-null   object
 16  compromised_document_result         1524 non-null   object
 17  properties                          5880 non-null   object
 18  sub_result                          5880 non-null   object
dtypes: float64(1), object(18)
memory usage: 1.7+ MB

## Dropping Nan vales 
- Based on the information above, there are 11760 entries, however there are only 5880 rows with result. Which means we canont make any assumption out of the rows with no result
- Hence, I will decide to drop all those rows

In [50]:
# Dropping the rows with Na values for result
document_df = document_df.dropna(subset=['result'])

In [51]:
# Remove unique attributes such as ID

document_importantAttr = [
 'result', 
 'visual_authenticity_result',
 'image_integrity_result',
 'face_detection_result',
 'image_quality_result',
 'created_at',
 'supported_document_result',
 'conclusive_document_quality_result',
 'colour_picture_result',
 'data_validation_result',
 'data_consistency_result',
 'data_comparison_result',
 'police_record_result',
 'compromised_document_result',
 'sub_result' ]

In [52]:
document_filterd = document_df[document_importantAttr]

In [14]:
# Understand the attributes
facial_df.columns.tolist()

['Unnamed: 0',
 'user_id',
 'result',
 'face_comparison_result',
 'created_at',
 'facial_image_integrity_result',
 'visual_authenticity_result',
 'properties',
 'attempt_id']

In [16]:
# Since the result recently decreased, sort the dataset by date 'created_at' 
document_df_sorted = document_df.sort_values(by='created_at')